{% extends "start/nationmain.html" %}

{% block title %}Lägg till event{% endblock %}

{% block additional_scripts %}

{% endblock %}

{% block left %}

    <tr>
    <form class = "form-inline" action="{% url "start:addevent" %}" method="POST">
        <h1>Create a new event:</h1>
        <div class="form-group">
    {% csrf_token %}


        {% include "form.html" with form=form %}

        <button class="btn btn-default" type ="submit">Add event</button>
        </div>
    </form>
    </tr>

{% endblock %}


