{% extends "start/nationmain.html" %}

{% block title %}ourEvents{% endblock %}




    {% block right %}
            <div class="row" >
            <ul class="calendar">
                <table class="responsive-table calendar-list active" data-day="1" cellspacing="0">
                    <caption class="brand-font active"><span>Recurrent</span></caption>
                    <thead>
                    <tr>
                        <th scope="col">Event</th>
                        <th scope="col">Place</th>

                        <th scope="col">Type</th>
                        <th scope="col"> Days</th>
                        <th scope="col"> Edit</th>
                    </tr>
                    </thead>
                    <tbody>

                    <ul>


                        <tr class="">

                            <td data-title="Aktivitet">{{ event.name }}</td>
                            <td data-title="Plats">
                                <span class="name">{{ event.location }}</span>
                            </td>
                            <td>What Type</td>
                            <td scope="row">{{event.startdate}}</td>

                            <td><button id="editNationDesc"type="button" class="btn btn-default">Edit</button></td>
                        </tr>


                    </ul>



                    </tbody></table></ul>

        </div>
    {% endblock %}
