{% extends "start/nationmain.html" %}
{% load i18n %}
{% block title %}Lägg till event{% endblock %}

{% block additional_scripts %}

{% endblock %}

{% block left %}
<div class="divforforms">



    <tr>
    <form action="{% url "start:addevent" %}" method="POST">
        <h2>{% trans "Create a new event"%}</h2>
        {% csrf_token %}
        {% include "form.html" with form=form %}
        <br>
        <button class="btn btn-default btn-block" id="addingevent" type ="submit">{% trans "Add event"%}</button>
    </form>
    </tr>

    </div>


   {% endblock %}






