{% extends "start/nationmain.html" %}

{% block title %}Lägg till event{% endblock %}

{% block additional_scripts %}
  <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker();
            });
        </script>
{% endblock %}

{% block left %}


    <div class="form-group">
    <tr>
    <form action="{% url "start:addevent" %}" method="POST">
    {% csrf_token %}
        <h5>Skapa ett nytt Event!:</h5>
       {#{ form.as_p }#}

        {% include "form.html" with form=form %}


<!--    <h5>Location:</h5>
    {{ form.as_p }}
    <h5>Event:</h5>
    {{ formset.as_p }}
-->
        <input class="form-control" type ="submit" value="Add">

    </form>
    </tr>

    </div>

</div>
{% endblock %}


