{% extends "pagelayout.html" %}
{% load i18n %}
{% block title %}Nationsstartsida{% endblock %}

{% block additional_css %}
{% endblock %}

{% block additional_scripts %}
<script>
    $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
{% endblock %}

{% block extra_menu_item %}
<li id="myEventL"><a id="myEventsClick" href="#"> {% trans "My saved events"%}</a></li>
{% endblock %}


{% block left%}
<div class="container" id="monthAndDay">
    <div class="sizeMonth">
        <a href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                    <span id="getDay"></span> <span id="getDate"></span> <span id="getMonth"></span>
                <a href="#">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
    </div>
</div>

<title>Calender i listform</title>
    <div class="container col-sm-12" style="background-color: rgba(51,195,255,1);">
            <div class="row" >
                <ul class="calendar">
                    <table class="responsive-table calendar-list active" data-day="1" cellspacing="0">
                        <caption class="brand-font active">måndag 18/4<span>(Idag)</span></caption>
                        <thead>
                        <tr>
                            <th scope="col">{% trans "Event"%}</th>
                            <th scope="col">{% trans "Place"%}</th>

                            <th scope="col">{% trans "Type"%}</th>
                            <th scope="col">{% trans "Time"%}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <ul>
                        {% for event in events %}


                        <tr class="">

                            <td data-title="Aktivitet">{{ event.name }}</td>
                            <td data-title="Plats"><span class="name">{{ event.location }}</span></td>
                            <td scope="row">{{event.enddate}}</td>

                        </tr>
                        {% endfor %}

                        </ul>


                        </tbody></table></ul>

        </div>
    </div>


{% endblock %}

{% block right %}
 <div class= "datetimepicker" id="datepicker">

 </div>


{% endblock %}