{% extends "start/nationmain.html" %}
{% load i18n %}
{% block title %}Lägg till event{% endblock %}

{% block additional_scripts %}

{% endblock %}

{% block left %}

<div class="container-fluid" id="calendarBox">

    <div class="container-fluid col-sm-8 col-md-8 col-lg-8" >



    <tr>
    <form class = "form-inline" action="{% url "start:editevent" event.id %}" method="POST">
        <h1>{% trans "Edit an event"%}</h1>
        <div class="form-group">
        {% csrf_token %}
        {% include "form.html" with form=form %}

        <button class="btn btn-default" type ="submit">{% trans "Confirm edited event"%}</button>
        </div>
    </form>
    </tr>

    </div>

    </div>





{% endblock %}


