{% extends "start/nationmain.html" %}
{% load i18n %}
{% block title %}Lägg till event{% endblock %}

{% block additional_scripts %}

{% endblock %}

{% block left %}

<div class="container-fluid" id="calendarBox"style="background: url('{{ STATIC_URL }}start/SiluettUA_blue.png') no-repeat; background-size: 100%;background-position: bottom;">

    <div class="container-fluid col-sm-8 col-md-8 col-lg-12" >



    <tr>
    <form class = "form-inline" action="{% url "start:editevent" event.id %}" method="POST">
        <h1>{% trans "Editing event:"%}</h1>

        {% csrf_token %}
        {% include "form.html" with form=form %}
        </tr>
        <div class="col-sm-5" style="padding:0; padding-right: 4%">
        <button class="btn btn-success btn-block" id="editeventbtn" type ="submit">{% trans "Edit event" %}</button>
        </div>
        <div class="col-sm-5" style="padding:0; padding-left: 4%">
        <a href="{% url 'start:ourevents' %}" class="btn btn-primary btn-block" id="regrettediteventbtn">{% trans "Regret" %}</a>
        </div>



    </form>


    </div>

    </div>





{% endblock %}


