{% extends "pagelayout.html" %}
{% load i18n %}
{% block title %}{%trans "Start page"%}{% endblock %}

{% block additional_scripts %}
<script>



$(function() {
    $( "#datepicker" ).datepicker({
        onSelect: function()
        {
            var date = $(this).datepicker('getDate');
            var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
            datum = new Date(date-tzoffset);
            eventDate = date;
            writeDate();
            $("div.calendar").load("{% url "start:events" %}?date=" + datum.toISOString().slice(0, 10), function()
            {
                FB.XFBML.parse();
            });
        }
        /*eventDate = date;*/
    });
});


function switchDateCalender(eventDate){
    $('#datepicker').datepicker('setDate', eventDate);
    var date=eventDate;
    var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
    datum = new Date(date-tzoffset);
    $("div.calendar").load("{% url "start:events" %}?date=" + datum.toISOString().slice(0, 10), function()
            {
                FB.XFBML.parse();
            });
}


</script>
{% endblock %}



{% block left%}

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<br>
<br>

<title>Calender i listform</title>

<div class="calendar" style ="overflow-y: scroll; height: 500px"> <!--style = "background-color:pink;"-->


    <table class="responsive-table calendar-list active table table-striped"  data-day="1" cellspacing="0"> <!--style = "background-color:hotpink;-->

        <div class="container col-md-12 col-sm-12 col-xs-12 col-lg-12" id="monthAndDay"> <!--style = "background-color:darkgrey;"-->



            <div class="week col-xs-7 col-xs-offset-3 col-sm-offset-4 col-sm-6 col-md-7 col-md-offset-4 col-lg-4 col-lg-offset-4" >
                <a class="previous col-xs-2 col-sm-2 col-md-2 col-lg-2" href="#" >
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>

               <strong class = "text-center col-xs-6 col-sm-6 col-md-6 col-lg-6"><span id="getDay"></span> <span id="getDate" ></span> <span id="getMonth" ></span></strong>

                 <a class="next col-xs-3 col-md-1 col-sm-1 col-lg-1" style="display: inline;" href="#" >
                        <i class="glyphicon glyphicon-chevron-right "></i>
                    </a>
            </div>

        </div>

<div class="calendar"> <!--style = "background-color:pink;"-->
    {% include "start/events.html" %}

</div>
{% endblock %}

{% block right %}

<div class="datetimepicker" id="datepicker"></div>


{% endblock %}