{% extends "pagelayout.html" %}
{% load i18n %}
{% block title %}{%trans "Start page"%}{% endblock %}
{% block additional_scripts %}

<script>

$(function() {
    $( "#datepicker" ).datepicker({
        onSelect: function()
        {
            var date = $(this).datepicker('getDate');
            /*var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds*/
            datum = new Date(date);
            eventDate = date;
            writeDate();
            $("div.calendar").load("{% url "start:events_with_type" menu_active_item %}?date=" + datum.toISOString().slice(0, 10), function()
            {
                FB.XFBML.parse();
            });
        }
        /*eventDate = date;*/
    });
});

function switchDateCalender(eventDate){
    $('#datepicker').datepicker('setDate', eventDate);
    var date=eventDate;
    /*var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds*/
    datum = new Date(date);

    $("div.calendar").load("{% url "start:events_with_type" menu_active_item %}?date=" + datum.toISOString().slice(0, 10), function()
            {
                FB.XFBML.parse();
            });
}
</script>
{% endblock %}

{% block menu_item_1 %}

        <li {% if menu_active_item == 'now' %} class="active"{% endif %} ><a href = "{% url 'start:index' %}">{%trans "Start" %} </a></li>
         <li {% if menu_active_item == 'breakfast' or menu_active_item == 'pub' or menu_active_item == 'lunch' or menu_active_item == 'restaurang' or menu_active_item == 'gasque' or menu_active_item == 'club' or menu_active_item == 'other' or menu_active_item == 'cafe' %} class="active"{% endif %} class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">{%trans "Categories"%}
         <span class="caret"></span></a>

         <ul class ="dropdown-menu">

         <li {% if menu_active_item == 'breakfast' %} class="active"{% endif %}><a href = "{% url 'start:index_with_type' "breakfast" %}">{%trans "Breakfast"%}</a></li>
         <li {% if menu_active_item == 'cafe' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "fika" %}">{%trans "Fika"%}</a></li>
         <li {% if menu_active_item == 'lunch' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "lunch" %}">{%trans "Lunch"%}</a></li>
         <li {% if menu_active_item == 'pub' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "pub" %}">{%trans "Pub"%}</a></li>
         <li {% if menu_active_item == 'restaurang' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "restaurant" %}">{%trans "Restaurant"%}</a></li>
         <li {% if menu_active_item == 'club' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "club" %}">{%trans "Clubs"%}</a></li>
         <li {% if menu_active_item == 'gasque' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "gasque" %}">{%trans "Gasque"%}</a></li>
         <li {% if menu_active_item == 'other' %} class="active"{% endif %} ><a href = "{% url 'start:index_with_type' "other" %}">{%trans "Other"%}</a></li>
         </ul>
         </li>

         <li {% if menu_active_item == 'info' %} class="active"{% endif %} ><a href = "{% url 'start:nationinfo' %}">{%trans "Nations and unions"%}</a></li>

{% endblock %}
{% block menu_item_2 %}
         {% if user.is_authenticated %}
        {% if request.user.social_auth.count %}
        {% else %}
<li><a href="{% url 'start:nationmain' %}" >{% trans "To host view" %}</a></li>

        {% endif %}
          {% endif %}
{% endblock %}
{% block left%}
<div class="container-fluid" id="calendarBox" style ="opacity: 1">

<div class="container-fluid" id="calendarBckg" >

    <div class="datetimepicker ll-skin-cangas hidden-xs pull-right"  id="datepicker"></div>

    <div class="container-fluid col-sm-8 col-md-8 col-lg-8" id = "calendarMinibox">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             <button class=" glyphicon glyphicon-chevron-left" id="dayPickerBtnLeft" href="#"></button>
        <button  class = "glyphicon" id="dayPickerBtn"><span id="getDay"></span> <span id="getDate" ></span> <span id="getMonth" ></span></></button>
        <button class="next glyphicon glyphicon-chevron-right" id="dayPickerBtnRight" style="display: inline;" href="#" ></button>
<div class="calendar" style="background: transparent">
            {% block calendercontent %}
                {% include "start/events.html" %}
            {% endblock %}
</div>
</div>
</div>
      </div>


{% endblock %}
{% block right %}
{% endblock %}
