{% extends "start/main.html" %}

{% load i18n %}
{% block title %}{%trans "My profile" %}


{% endblock %}

{% block calendercontent %}

            {% if user.is_authenticated %}
                <li>Hello, {{user.get_full_name}}!</li>

            {% endif %}
THIS IS MY PROFILETHIS IS MY PROFILE

<table class="responsive-table calendar-list active table table-striped"  data-day="1" cellspacing="0">
        <thead>
        <tr>
            <th class="col-md-4 col-sm-4" scope="col">{%trans "Events"%}</th>
            <th class="col-md-2 col-sm-2" scope="col">{%trans "Place"%}</th>
            <th class="col-md-1 hidden-xs" scope="col">{%trans "Type"%}</th>
            <th class="col-md-1 col-sm-1" scope="col">{%trans "Time"%} </th>
             <!--  <th> <button id = "calendarCollapse" class ="pull-right glyphicon glyphicon-calendar hidden-xs hidden-sm " style="display: inline;" data-toggle = "collapse" data-target="#datepicker"> Calendar </button>
                </th> -->
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}