{% extends "pagelayout.html" %}


{% load i18n %}
{% block title %}Nationer och kårer{% endblock %}


    {% block left %}

  <table class="responsive-table calendar-list active table table-striped"  data-day="1" cellspacing="0">
        <thead>
        Nationer och kårer


        </thead>
        <tbody>

        <ol>
        {% for host in hosts %}


                    <!--<button data-toggle="collapse" data-target="#{{host.id}}">{{ host.name }}</button>-->

                    <td data-title="Nation" >
                        <button data-toggle="collapse" data-target="#{{host.id}}">{{ host.name }}</button>

                    </td>
                    <!--<td data-title="Plats"><span class="name">{{ host.description }}</span></td> -->




                    <div id="host.id" class="collapse">
                        Lorem ipsum dolor text....
                             <!-- Modal -->
                    <td class="hidden-xs">{{host.description}}</td>
                            <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
                            <!-- Modal -->
                    <td class="hidden-xs">{{Host.email}}</td>
                    </div>



            {% endfor %}
            </ol>
        </tbody>

    </table>
    {% endblock %}

