{% extends "start/main.html" %}
{% load i18n %}
{% load static %}
{% block title %}Nationer och kårer{% endblock %}

{% block additional_scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="{% static 'start/clickdiv.js' %}" type="application/javascript"></script>
        <link href="{% static 'css/clickdiv.css' %}" rel="stylesheet" type="text/css"/>
        {% endblock %}

    {% block left %}
<table class="responsive-table calendar-list active table table-striped"  data-day="1" cellspacing="0">
        <thead>
        Nationer och kårer
        <tr>
            <th class="col-md-4 col-sm-4" scope="col">{%trans "Nation"%}</th>
        </tr>


        </thead>

            {% for host in hosts %}

                    <td data-title="Aktivitet"><h4>{{host.name}}</h4>
                        <!-- hides part of big text -->
                        <div class="comment more">{{host.description}}</div>

                        <div id="map"><iframe src="{{host.location.gps}}" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></div>


                    <!--<div style="width: 300px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><p>{{host.description}}</p></div> -->
                        <!--<div id="partoftext"><p>{{host.description}}</p></div>-->
                        <!-- skriv in kartor i databasen, hämta genom {{host.gps}} eller liknande i iframe-->
                       <!--<div id="{{host.id}}" class="collapse"><p>{{host.description}}</p> <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.505867435092!2d17.63593295175902!3d59.857346075526756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbf0b72963e1%3A0x7f0b0b4db60b7c6b!2sV%C3%A4stra+%C3%85gatan+14%2C+753+09+Uppsala!5e0!3m2!1ssv!2sse!4v1460720726017" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div></div> -->
                    </td>
                    <!-- button for collapse text -->
                   <!--<td> <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{host.id}}">+</button> -->
                    <!--<div id="{{host.id}}" class="collapse" > -->
                       <!-- <p> {{host.description}} <div id="map"> -->
                        <!-- how to put map for each host in database -->
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.505867435092!2d17.63593295175902!3d59.857346075526756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbf0b72963e1%3A0x7f0b0b4db60b7c6b!2sV%C3%A4stra+%C3%85gatan+14%2C+753+09+Uppsala!5e0!3m2!1ssv!2sse!4v1460720726017" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div></p> -->
                    <!--</div>
                    </td>-->

                        </div>
                    </div>
                </tr>

            {% endfor %}

</table>

    {% endblock %}

