{% extends "start/main.html" %}
{% load i18n %}
{% load static %}


{% block additional_scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="{% static 'start/clickdiv.js' %}" type="application/javascript"></script>
        <link href="{% static 'css/clickdiv.css' %}" rel="stylesheet" type="text/css"/>
        {% endblock %}

    {% block left %}
<div class="container-fluid" id="calendarBox" >
<table class="responsive-table calendar-list active table table-striped"  data-day="1" cellspacing="0">
        <thead>

        <tr>
            <!--<th class="col-md-4 col-sm-4" scope="col">{%trans "Nationer & kårer"%}</th> -->
        </tr>


        </thead>

            {% for host in hosts %}
                    <td id="nationsinforad" data-title="Aktivitet"><h4>{{host.name}}</h4>
                        <!-- hides part of big text -->
                        <div id="loggaNat" class="row" ><img src="{{host.logo}}"  width="80" height="80" frameborder="0" style="border:0"><div id="beskrivning" class="comment more ">{{host.description}}  </div></div>
                        <!-- gör karta som bild istället, ladda karta genom länk -->
                        <td id="karta" data-title="karta"><div id="map"><iframe class="pull-right" src="{{host.location.gps}}" width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></div></td>
                    </td>



                </tr>

            {% endfor %}

</table>
</div>

    {% endblock %}

