{% extends "pagelayout.html" %}
<!--inlogg för facebook, vanliga användare -->
{% block left%}
{% if user and not user.is_anonymous %}
<a>{{user.get_full_name}} !</a>
<!--<meta http-equiv="REFRESH" content="0;url=start:studentmain">-->
<br>
<!--<a href="/logout">Logout</a>-->
{% else %}

<div class="container-fluid" id="loginBox2" >
    <div class="row">
        <div class="col-sm-12 col-md-12 "  >
            <h1 class="text-center login-title">Sign in</h1>
            <div class="account-wall">
                <form class="form-signin">
                    <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ redirect_url }}">
    <span class="fa fa-facebook"></span> Login with Facebook</a>
                    <a class="btn btn-block btn-social " id="nationinlogBTN" href="accounts/login">
    <span class="fa fa-sign-in"></span> Login as a host</a>


                <a href="#" class="pull-right need-help">Need help </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

{% endif %}
{% endblock %}