{% extends "pagelayout.html" %}
<!--inlogg för facebook, vanliga användare -->
{% block left%}
{% if user and not user.is_anonymous %}
<a>Hello, {{user.get_full_name}} !</a>
<!--<meta http-equiv="REFRESH" content="0;url=start:studentmain">-->
<br>
<!--<a href="/logout">Logout</a>-->
{% else %}
<a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ redirect_url }}">
    <span class="fa fa-facebook"></span> Login with Facebook</a>

<a class="btn btn-block btn-social" href="accounts/login">
    <span class=""></span> Login as a nation</a>
<br>
<br>
<br>
<br>

{% endif %}
{% endblock %}