{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Studentkompassen - {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'start/mainstyle.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" href="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.print.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    {% block additional_css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="{% static 'start/evententeringfunctions.js' %}" type="application/javascript"></script>
    <script src="{% static 'start/functions.js' %}" type="application/javascript"></script>

    {% block additional_scripts %}{% endblock %}

  </head>
<body>

<!--BIG CONTAINTER-->

<div class="container"> <!--gör om tillrow-->
    <div id= "BannerRow" class="row col-md-12">
            <h1>STUDENTKOMPASSEN
            </h1>
    </div>
        </div>
        <!-- HEADER --> <!-- kommer från http://codepen.io/Webspicer/pen/QwvRzM -->

{% block navigation %}
    <nav class="navbar navbar-default navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Studentkompassen</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" >
                    <li id="rnL"class="active"><a id="rnClick" href='#'>Just nu</a></li>
                    <li id="bfL"><a id="bfClick" href='#'>Frukost </a></li>
                    <li id="lunchL"><a id="lunchClick" href='#'>Lunch</a></li>
                    <li id="brunchL"><a id="brunchClick" href='#' >Brunch</a></li>
                    <li id="fikaL"><a id="fikaClick" href='#'>Fika</a></li>
                    <li id="pubL"><a id="pubClick" href='#'>Pub</a></li>
                    <li id="clubL"><a id="clubClick" href='#'>Klubb/Släpp</a></li>
                    <li id="eventL"><a id="eventClick" href="{% url 'addevent' %}">Event</a></li>
                </ul>
                {% block navigation_myaccount %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">My Account <span class="glyphicon glyphicon-user"</span></a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_anonymous %}
                            <li><a href="#">Log in</a></li>
                            {% else %}
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>

                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                            {% endif %}
                        </ul>
                    </li>

                </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
{% endblock %}

<!--  </div> -->


<!--END BIG CONTAINTER-->

<!-- Latest compiled and minified JavaScript -->

</body>
</html>