{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Studentkompassen - {% block title %}{% endblock %}</title>

    <!-- START CSS FILES -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'start/mainstyle.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"/>
    <link rel="stylesheet" href="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" href="http://arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.print.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    {% block additional_css %}{% endblock %}

    <!-- END CSS FILES -->
    <!-- START SCRIPT FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="{% static 'start/evententeringfunctions.js' %}" type="application/javascript"></script>
    <script src="{% static 'start/functions.js' %}" type="application/javascript"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.*js"></script>
    {% block additional_scripts %}{% endblock %}
    <!-- END SCRIPT FILES -->

  </head>
<body>

<!--START HEADER-->

<div class="container"> <!--gör om tillrow-->
    <div id= "BannerRow" class="row col-md-12">
            <h1>STUDENTKOMPASSEN
            </h1>
    </div>
</div>
<button><a id="tonation" href="{% url 'start:nationmain' %}">Till Nationssida</a> </button>
<button><a id="tostudent" href="{% url 'start:studentmain' %}">Till Studentsida</a> </button>
<button><a id="tologout" href="{% url 'start:index' %}">Till oinloggad</a> </button>
        <!-- HEADER --> <!-- kommer från http://codepen.io/Webspicer/pen/QwvRzM -->

<!--END HEADER-->

{% block navigation %}
<nav class="navbar navbar-default navbar-inverse ">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">Studentkompassen</a>
        </div>
            <div id="navbar" class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" >
                    <li id="rnL"{% if menu_active_item == 'now' %} class="active"{% endif %}><a id="rnClick" href="{% url 'start:index' %}">Just nu</a></li>
                    <li id="bfL"><a id="bfClick" href='#'>Frukost </a></li>
                    <li id="lunchL"><a id="lunchClick" href='#'>Lunch</a></li>
                    <li id="fikaL"><a id="fikaClick" href='#'>Fika</a></li>
                    <li id="pubL"><a id="pubClick" href='#'>Pub</a></li>
                    <li id="clubL"><a id="clubClick" href='#'>Klubb/Släpp</a></li>
                    <li id="getToKnowNationL"><a id="knowClick"> Lär känna nationer</a></li>
                    {% block extra_menu_item %}
                    {% endblock %}
                </ul>
                {% block navigation_myaccount %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">My Account <span class="glyphicon glyphicon-user"</span></a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_anonymous %}
                            <li><a href="#">Log in</a></li>
                            {% else %}
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>

                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                            {% endif %}
                        </ul>
                    </li>

                </ul>
                {% endblock %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}

<div class="container">

    <div class="row col-md-8">
        {% block left %}
        {% endblock %}
    </div>

    <div class="row col-md-4">
        {% block right %}
        {% endblock%}
    </div>

</div>
{% endblock %}


{% block footer %}
&copy; 2016 Studentkompassen
{% endblock %}

</body>
</html>