body {
    background-color: #F0C172;
}




.header div{
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
    color: #000;
    font-family: 'Exo', sans-serif;
    font-size: 55px;
    font-weight: 200;
}

.header div span{
    color: #fff !important;
}

#middlebox {
    margin:auto;
    width:400px;
    height: 200px;
    padding:10px;
    border: 10px solid goldenrod;
    border-radius: 10px;
    text-align: center;



}

.order {
    text-align: center;
}



.auto-resize {
    position: absolute;
    max-width:100%;
    max-height:100%;
}