body {
    background-color: #F0C172;
    margin: 0;
    padding: 0;
}

.header div{
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
    color: #000;
    font-family: 'Exo', sans-serif;
    font-size: 55px;
    font-weight: 200;
}
/*Menubar*/
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 30px;;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}
/*Menubar End*/
    .innermainbox{
        width: 80%;
        height: 50%;
    }
    .header div span {
        color: #fff !important;
    }
    #main-box {
        maring: auto;
        width: 98%;
        height: 600px;
        float: left;
        border: 10px transparent;
        border-radius: 10px;

    }

    #middleboxJustnu {
        margin: auto;
        float: left;
        border: 10px solid goldenrod;
        border-radius: 10px;
        text-align: center;


    }

    .topinbox div {
        width: 100%;
        height: 20%;
        margin: auto;
    }

    .boxwithin div {

    }

    #firstRightNow {
        overflow-y:scroll;
        width: 24.5555%;
        height: 79%;
        float: left;
        border: 1px solid goldenrod;
        border-radius: 10px;
    }

    #secondRightNow {
        overflow-y:scroll;
        width: 24.5555%;
        height: 79%;
        float: left;
        border: 1px solid goldenrod;
        border-radius: 10px;
    }

    #thirdRightNow {
        overflow-y:scroll;
        width: 24.5555%;
        height: 79%;
        float: left;
        border: 1px solid goldenrod;
        border-radius: 10px;
    }

    #fourthRightNow {
        overflow-y:scroll;
        width: 24.5555%;
        height: 79%;
        float: left;
        border: 1px solid goldenrod;
        border-radius: 10px;
    }
    #middleboxFrukost{
        display: none;
        margin: auto;
        float: left;
        border: 10px solid goldenrod;
        border-radius: 10px;
        text-align: center;


    }
    #firstFrukost {
        overflow-y:scroll;
        width: 100%;
        height: 80%;

        border: 1px solid goldenrod;
        border-radius: 10px;
    }

#middleboxLunch{
    display: none;
    margin: auto;
    float: left;

    border: 10px solid goldenrod;
    border-radius: 10px;
    text-align: center;
}
#firstLunch {
    overflow-y:scroll;
    width: 49%;
    height: 80%;
    float:left;
    border: 1px solid goldenrod;
    border-radius: 10px;
}
#secondLunch{
    overflow-y:scroll;
    width: 49%;
    height: 80%;
    floar:left;
    border: 1px solid goldenrod;
    border-radius: 10px;
}

.order {
        text-align: center;
}

.button{
    border-radius: 10px;
    border-spacing: 3px;
    background-color: goldenrod;
    color: #2e4660;
    margin: 2px;
    cursor: pointer;
    text-align: center;
}

#logOutButton{
        float: right;
        top: 10%;
        margin-right: 3%;
}

#myProfileButton{
    float: right;
    top: 10%;
    margin-right: 3%;
}

.auto-resize {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #F0C172;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
    background-color: goldenrod;
}

::-webkit-scrollbar-corner {
    background-color: black;
}

/*Kalender */
body {
    line-height: 1;
    margin: 50px;
}
.calender {
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    width: 15%;
    float: left;
}
header {
    /*overflow: clear;*/
    position: relative;
}
h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: center;
}
button {
    position: absolute;
    top: -4px;
}
button:first-child {
    left: 0;
}
button:last-child {
    right: 0;
}
table{
    background: #fff;
    border-collapse: collapse;
    color: #222;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 100%;
}
td {
    border: 1px solid #ccc;
    color: #444;
    line-height: 22px;
    text-align: center;
}
tr:first-child td {
    color: #222;
    font-weight: 700;
}
.selectedkalender {
    background: #f0951d;
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}