a {
    color: #0254EB
}
a:visited {
    color: #0254EB
}
a.morelink {
    text-decoration:none;
    outline: none;
}
.morecontent span {
   display: none;
}
.comment {
    width: 600px;
    background-color: #f0f0f0;
    margin: 10px;
    float: left;
}



#logga {

    float: left;
}

#nationsinforad{

    display: inline;
}

#map{
    margin: 8px;

}