{% extends "start/main.html" %}
{% load i18n %}
{% block title %}Breakfast{% endblock %}

{% block additional_scripts %}
<script>



$(function() {
    $( "#datepicker" ).datepicker({
        onSelect: function()
        {
            var date = $(this).datepicker('getDate');
            var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
            datum = new Date(date-tzoffset);
            eventDate = date;
            writeDate();
            $("div.calendar").load("{% url "start:reloadbreakfast" %}?date=" + datum.toISOString().slice(0, 10), function()
            {
                FB.XFBML.parse();
            });
        }
        /*eventDate = date;*/
    });
});


function switchDateCalender(eventDate){
    $('#datepicker').datepicker('setDate', eventDate);
    var date=eventDate;
    var tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
    datum = new Date(date-tzoffset);
    $("div.calendar").load("{% url "start:reloadbreakfast" %}?date=" + datum.toISOString().slice(0, 10), function()
            {
                FB.XFBML.parse();
            });
}


</script>
{% endblock %}