
body{
    color: black;
    background-color: #fafafa;
}
#brandNation{
    position:relative;
    bottom:20px;
    color:#5e5e5e;
}
.name{
}
#brandNation:hover{
    position:relative;
    bottom:20px;
    color: #5e5e5e;
}
.navbar-right{
    margin-left:100px;
}
/*******************************************/
/*******************************************/
/************* MD INSTÃ„LLNINGAR************/
/*******************************************/
/*******************************************/
@media screen and (min-width: 768px)and (max-width: 1199px) {
body {
            background-color: #fafafa;
        }
     #calendarBckg{
            height:600px;
            width:1130px;
            background: url('/static/start/SiluettUA_blue.png') no-repeat;
                    background-size: 100%;
                    background-position: bottom;
                    opacity: 1;
                    position: absolute;

        }
    #btnlang_en{
    margin-right: 0px;
    background-color: black;
    color:#fafafa;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}
    #btnlang_en:hover{
        background-color:darkgray;
    }
    #btnlang_sv{
    margin-right: 0px;
    background-color: black;
    color:#fafafa;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
    #btnlang_sv:hover{
        background-color:darkgray;
    }
    #btnlangBox{
       position: absolute;
                display: inline-flex;

    left: 65%;
    top: 102px;
        width:350px;
}

        #dayPickerBtn {
        width:85%;
        font-family: Raleway;
        font-size: x-large;
        }

        #navbarbackgrounded{
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        height: 250px;
        position:relative;

        }
         .navbar-default{
            color:black;
            border-bottom: 1px solid lightgray;
            background:#fafafa;
            margin-left: -15px;
            width: 1200px;
            height: 100px;
            border-radius: 0;
            font-family: Raleway;
            border-right: 0px;
            border-left:0px;
            border-top: none;
            box-shadow:none;
            }

            .navbar-collapse .navbar-nav {
                padding-top: 50px;
            }

            .navbar-collapse .navbar-nav > .active > a{
                 background: #fafafa;
            bottom:2px;
            color:black;
            height: 53px;
            border-bottom: 3px solid black;
            box-shadow: none;
}
            /*hover här*/
            .navbar-collapse .navbar-nav > li > a {
            display: inline-block;
            position: relative;
            padding-bottom: 0px;
            padding-top: 0px;
            }
            .navbar-collapse .navbar-nav > .active > a:hover {
             /*why you no work? jo, det Ã¤r about background!*/
            background: #fafafa;
            bottom:2px;
            color:black;
            height: 53px;
            border-bottom: 3px solid black;
            box-shadow: none;
}
            /*hover här*/
            .navbar-collapse .navbar-nav > li > a {
            display: inline-block;
            position: relative;
            padding-bottom: 0px;
            padding-top: 0px;
                bottom:2px;
            }

            .navbar-collapse .navbar-nav > li > a:hover {
                color:black;

            bottom:2px;
            }

            .navbar-collapse .navbar-nav > li > a:after{
            content: '';
            display: block;
            margin-left: auto;
            margin-bottom: auto;
            margin-right:auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
            margin-top: 30px;
            }

            .navbar-collapse .navbar-nav > li > a:hover:after {
            width: 100%;
			background: black;
            margin-top: 31px;
            }
            .navbar-collapse .navbar-nav > li > a:hover:before {
            }.calendar{
        margin-top: 10px;
        padding: 10px;
        height: 500px;
        background-color: #fafafa;
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 10px;
        border-radius: 10px;




        transform:scale(1);
        -ms-transform:scale(1);
        -moz-transform:scale(1);
        -webkit-transform:scale(1);
        -o-transform:scale(1);
        }



        #calendarBox{
        height:600px;
        margin-top:10px;
        margin-bottom:10px;
        }


        }


        .main-header {
        text-align: center;
        clear: both;
        padding: 0;
        }


.ui-widget-content{
    margin-top:65px;
    margin-right:55px;
}
.modal-backdrop
{
    position: relative;
}

/*******************************************/
/*******************************************/
/************* XS INSTÃ„LLNINGAR************/
/*******************************************/
/*******************************************/
@media screen and (max-width: 767px) and (min-width: 0px) {
body {
}

#navbarbackgrounded{
    background-image: none!important;

}
  #calendarBckg{
            height:500px;
            width:98%;
         background: url('/static/start/SiluettUA_blue.png') no-repeat;
                    background-size: 100%;
                    background-position: bottom;
                    opacity: 1;
                    position: absolute;

        }

.navbar-header{
    width:auto;
}
#dayPickerBtn {
font-family: Raleway;
font-size: x-large;
width:55%;
}
#dayPickerBtnRight, #dayPickerBtnLeft{
width:20%;
font-size:  x-large;
color: darkgray;
}

#dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft{
height:100%;

background: #fafafa;
border: #fafafa;
}
.calendar {
margin: 0 auto;
padding: 0;
width:100%;
background-color: #fafafa;
height: auto;
border-radius: 10px;
}
.main-header {
text-align: center;
clear: both;
width: 100%;
}

/* *******NAVBAR MOBILE SETTINGS **********/

.navbar {
opacity: 0.9;
padding: 0;
border-bottom: 1px solid rgb(225,227,230);
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
margin-bottom:5px;
height:auto;
background: transparent; /* For browsers that do not support gradients */
}
.navbar .navbar-nav{
    float:none;
    vertical-align:top;
    display: inline;
}
.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-brand{
color: black;
}

.navbar-default  .navbar-toggle .icon-bar {
background-color: black;
}

.navbar-toggle {
background-color: #fafafa;
top:20px;
}

.collapsing, .in {
background-color: #fafafa;
overflow-x: hidden;
}

.collapsing ul li a, .in ul li a {color: black!important;}
.collapsing ul li a:hover, .in ul li a:hover {
color: #f1f1f1!important;
border-top-left-radius: 0;
border-top-right-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
position:relative;
}

.container-fluid{
padding-left: 0;
padding-right: 0 ;
}

#calendarBox{
height:600px;
margin:5px;

}
}
/*******************************************/
/*******************************************/
/************* LG INSTÃ„LLNINGAR************/
/*******************************************/
/*******************************************/
@media screen and (min-width:1200px) {

    #calendarBckg{
            height:600px;
            width:1150px;
            background: url('/static/start/SiluettUA_blue.png') no-repeat;
            background-size: 100%;
            background-position: bottom;
            opacity: 1;
            position: absolute;

                }

            #btnlogin{
            display: inline-block;
            margin-right: 0px;
            background-color: black;
            color:#fafafa;
            border-color: black;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 5px;
            }
            #btnlogin2{
            margin-right: 0px;
            display: inline-block;

            background-color: black;
            color:#fafafa;
            border-color: black;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 5px;
            }
            #btnlang_en{
            display: inline-block;
            margin-right: 0px;
            background-color: black;
            color:#fafafa;
            border-color: black;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 0px;
            }

            #btnlang_en:hover{
            background-color:darkgray;
            }

            #btnlang_sv{
            display: inline-block;
            margin-right: 0px;
            background-color: black;
            color:#fafafa;
            border-color: black;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            }
            #btnlang_sv:hover{
                background-color:darkgray;
            }
            #btnlangBox{
            position: absolute;
            display: inline-flex;
            left: 70%;
            top: 102px;
            }

            #dayPickerBtn {
            width:88%;
            font-family: Raleway;
            font-size: x-large;
            }



            #topContainer {
            width: 1200px;
            }
            #calendarBox{
            width:1200px;
            height:600px;
            margin-top:10px;
            }
            .calendar{
            margin-top: 10px;
            padding: 10px;
            height: 500px;
            background-color: #fafafa;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 10px;
            border-radius: 10px;
            transform:scale(1);
            -ms-transform:scale(1);
            -moz-transform:scale(1);
            -webkit-transform:scale(1);
            -o-transform:scale(1);
            }

            .navbar-default{
            color:black;
            border-bottom: 1px solid lightgray;
            background:#fafafa;
            margin-left: -15px;
            width: 1200px;
            height: 100px;
            border-radius: 0;
            font-family: Raleway;
            border-right: 0px;
            border-left:0px;
            border-top: none;
            box-shadow:none;

            }

            .navbar-collapse .navbar-nav {
                padding-top: 50px;
            }

            .navbar-collapse .navbar-nav > .active > a{
                 background: #fafafa;
            bottom:2px;
            color:black;
            height: 53px;
            border-bottom: 3px solid black;
            box-shadow: none;
}
            /*hover här*/
            .navbar-collapse .navbar-nav > li > a {
            display: inline-block;
            position: relative;
            padding-bottom: 0px;
            padding-top: 0px;
            }
            .navbar-collapse .navbar-nav > .active > a:hover {
             /*why you no work? jo, det Ã¤r about background!*/
            background: #fafafa;
            bottom:2px;
            color:black;
            height: 53px;
            border-bottom: 3px solid black;
            box-shadow: none;
}
            /*hover här*/
            .navbar-collapse .navbar-nav > li > a {
            display: inline-block;
            position: relative;
            padding-bottom: 0px;
            padding-top: 0px;
                bottom:2px;
            }

            .navbar-collapse .navbar-nav > li > a:hover {
                color:black;

            bottom:2px;
            }

            .navbar-collapse .navbar-nav > li > a:after{
            content: '';
            display: block;
            margin-left: auto;
            margin-bottom: auto;
            margin-right:auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
            margin-top: 30px;
            }

            .navbar-collapse .navbar-nav > li > a:hover:after {
            width: 100%;
			background: black;
            margin-top: 31px;
            }
            .navbar-collapse .navbar-nav > li > a:hover:before {
            }

}


/*Create event css*/
.divforforms{
    width: 80%;
}

.nameofevent{
    width:50%;
}

.field-id_name{
    width: 70%;
}
#id_name{
    width: 100%;
}

.field-id_categories{
width: 100%;
float:left;
}

#id_categories{
    list-style-type: none;
    padding:0;
}

.field-id_host{
width:48%;
}
#id_host{
    width: 100%;
}
#topContainer{
    padding-left:0;
    padding-right:0;
    height:151px;
}
.field-id_location{
    width:48%;

}
#id_location{
    width:100%;

}
.field-id_startdate{
    width:48%;

}
.field-id_enddate {
    width: 48%;
}
.field-id_description{
    width:50%;
    float: left;
}

#id_description{

    border-radius: 10px;
    width: 100%;
    height: 30%;
    font-family: inherit;
    margin-right: 5px;

}

.field-id_description_english{
    width:50%;
    float: right;
}

#id_description_english{

    border-radius: 10px;
    width: 100%;
    height: 30%;
    font-family: inherit;

}

#addingevent{
    float:left;
    width:15%;

}
    /* Mellan INSTÃ„LLNINGAR*/

/*#A8D6FF =R:168 G:214 B:255
#E8F4FF = R:232 G:244 B:255
rgb(51,153,255); #3399FF*/

/***********************************************************************
*  Banner SECTION
***********************************************************************/

#loggPic{
    position: relative;
    display: block;
    width: 100px;
    max-width: 150px;
    bottom:1px;
    left:50%;
    margin-left: 0px;
    /*background: rgba(232,244,255,0.25);*/
    /*backgrou#nd: rgba(232,244,255,0.25);*/

}
#loggoBox{
    display: inline-block;
}
#loggPic2{
    position:relative;
    display: block;
    max-width: 150px;

    width:100px;
    left: 50%;
    margin-left:-50px;
    bottom:0px;
}
div{
    display: block;
}

#headerPic{
    width: 100%;
    height:100%;

}


.block{
    padding: 10px;
}
.hidden{
    display: none;
}

#nationDesc{
    background-color: black;
    height: 100px;
    width: 100%;
}


/***********************************************************************
*  DATETIMEPICKER SECTION
http://bootstrapdesigntools.com/tools/bootstrap-menu-builder/#/products
***********************************************************************/
.ui-widget-content{
    margin-top:65px;
    margin-right:65px;
    background: #fafafa;
    border-radius:0px;
    font-family:Raleway;
}




/***********************************************************************
*  Navbar slut
***********************************************************************/

/***********************************************************************
*  Flaggorna SECTION
***********************************************************************/
.flag{
    float: right;
    height: 26px;
    width: 38px;
    padding: 2px;
    cursor: pointer;
}
/***********************************************************************
*  Flaggorna slut
***********************************************************************/
/***********************************************************************
*  Calendar SECTION
***********************************************************************/
.calendar{
    margin-top: 30px;

}

.calendar th {
    border-bottom: none;
    font-weight: normal;
    font-family: Raleway;
}
.calendar thead{
    border-bottom: solid 1px #cccccc;

}
.calendar > tbody> tr {
    border-bottom: solid 0px;

}
.calendar td{
    display: block;
    border-top:0px;

}
#radBOD{
    border-bottom: solid 1px #cccccc;
    background: transparent;
    cursor: pointer;
}
#radBOD:hover{
    background: #efefef;

}
#aktivitetTD{
    width:60%;

border-top: 0px;
}
#platsTD{
    width:60%;
border-top: 0px;
}

#kategoriTD{
    width:40%;
    border-top: 0px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}
#startTD {
    width: 40%;
    border-top: 0px;
    font-size: small;
    font-weight: bold;
        text-align: right;

}

#aktivitetTDee{
    width:55%;

border-top: 0px;
}
#platsTDee{
    width:55%;
border-top: 0px;
}

#editeventtd{
    width:10%;

}

#kategoriTDee{
    width:35%;
    border-top: 0px;
    font-size: small;
    font-weight: bold;
    text-align: right;
}
#startTDee {
    width: 35%;
    border-top: 0px;
    font-size: small;
    font-weight: bold;
        text-align: right;

}


.responsive-table th{
    font-family: Raleway;
}.responsive-table tr{
    font-family: Raleway;
}


 .table-striped  > tbody > tr:nth-of-type(even) {
    background-color:   #fafafa;

}
 .table-striped  > tbody > tr:nth-of-type(odd) {
    background-color:  #fafafa;

}
 #monthAndDay {

    font-family: Raleway;
    font-style: oblique;
}



.calendar-list {
    width: 100%
}

.calendar-list > thead,
.calendar-list > tbody,
.calendar-list > thead > tr,
.calendar-list > tbody > tr,
.calendar-list > thead > tr > th,
.calendar-list > tbody > tr > td {
    display: block;
}

.calendar-list > tbody > tr:after,
.calendar-list > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.calendar-list > tbody {
    overflow-y: auto;
    height: 400px;
}

.calendar-list > tbody > tr > td,
.calendar-list > thead > tr > th {
    width: 50%;
    float: left;
}
/***********************************************************************
*  Calendar Slut
***********************************************************************/

/*http://bootsnipp.com/snippets/featured/input-file-popover-preview-image*/

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}



#map{
    left:5px;
    border-radius: 20px;
}

#mapdesc{
    float: right;
}
#mapdescription{
    float: right;
    left: 50%;
    top:5%;
    position: relative;
}

#nation_name{
    position: relative;
    left:20%;
    bottom: 50%;
    font-family: Raleway;
}


#editNationDesc{
    float:right;
}

#editpresentation{

    position: relative;
    left:28%;
    background-color: inherit;
    width: 180%;
}

.textarea{
    background-color: #0d6aad;
    width: 180%;
}




a.ui-state-highlight {
    border-color: black;
    background: #e6e6e6;
}

.sizeMonth{

}

.modal-header{
    font-family: Raleway;

}
.modal-body{
    font-family: Georgia;
}

/***********************************************************************
*  Boxarn i presentation
***********************************************************************/
.well{
    background: #fafafa; /*mÃ¥ste vara med fÃ¶r att kunna ge backgroundcolors i #nationDesc #dontMiss osv*/
}

#nationDesc{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}

#dontMiss{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}
#findUs{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}

#contact{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}
/***********************************************************************
*  Boxarna i presentation slut
***********************************************************************/


@media screen and (min-width: 768px)and (max-width: 1199px) {

  #btnlogin{
                    display: inline-block;

            margin-right: 0px;
            background-color: black;
            color:#fafafa;
            border-color: black;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 5px;
            }
     #btnlogin2{
            margin-right: 0px;
            display: inline-block;

            background-color: black;
            color:#fafafa;
            border-color: black;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 5px;
            }
     #btnlogin:hover{
        background-color:darkgray;
    }
     #btnlogin2:hover{
        background-color:darkgray;
    }
    #btnlang_en{
    margin-right: 0px;
    background-color: black;
    color:#fafafa;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}
    #btnlang_en:hover{
        background-color:darkgray;
    }
    #btnlang_sv{
    margin-right: 0px;
    background-color: black;
    color:#fafafa;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
    #btnlang_sv:hover{
        background-color:darkgray;
    }
    #btnlangBox{
       position: absolute;
                display: inline-flex;

    left: 70%;
    top: 102px;
}

#dayPickerBtn{
    width:78%;
}
#calendarCollapse{
    padding: 10px;
    right: 30px;
    color: black;
    background-color: #fafafa;
    border: 1px solid black;
    margin-bottom: 5px;
    float: left;
}
}




#dayPickerBtnRight, #dayPickerBtnLeft{
    font-size:  x-large;
    color: #3399FF;


}


#dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft {
    margin-bottom: -20px;
    background: #fafafa;
    border: rgb(232, 244, 255);

}


    #dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft:focus{
outline:0;
    }
    #btnBox{
        margin-bottom: 10px;
    }
#loginBox{
    border: 1px solid lightgray;
    width:600px;
    border-radius: 5px;
    background-color:#fafafa;
}
#nationinlogBTN{
    background-color: white;
    border: 1px solid lightgray;
}