@media screen and (max-width:768px) and (min-width: 0px) {
body {

}
#dayPickerBtn {
    width:48%;
    font-family: Raleway;
    font-size: x-large;
}
#dayPickerBtnRight, #dayPickerBtnLeft{
    width:10%;
    font-size:  x-large;
    color: darkgray;
}


.dayPicker{
    width:100%;
    height: 100%;
    padding: 0;
}
#dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft{
    height:100%;
    margin-bottom: 5px;
    background: white;
    border: white;
}





.calendar {
    margin: 0 auto;
    padding: 0;
    width:100%;
    background-color: #A8D6FF;
    height: auto;
    border-radius: 10px;
}



.main-header {
    text-align: center;
    clear: both;

    width: 100%;

}

/* *******NAVBAR MOBILE SETTINGS **********/

.navbar {
    opacity: 0.9;
    padding: 5px;
    border-bottom: 0 solid white;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom:5px;
    min-height: 100px;

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #3399FF , black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #3399FF, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #3399FF, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #E8F4FF, #A8D6FF , #3399FF); /* Standard syntax */
}


.navbar-default .navbar-brand{
    color: black;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;

}
.navbar-toggle {
    background-color: lightgray;

}
.collapsing, .in {
    background-color: #A8D6FF;
    overflow-x: hidden;
}

.collapsing ul li a, .in ul li a {color: black!important;}
.collapsing ul li a:hover, .in ul li a:hover {
    color: #f1f1f1!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0 ;
}
}