
body{
    color: black;
    background-color: white;
}

/*******************************************/
/*******************************************/
/************* MD INSTÃ„LLNINGAR************/
/*******************************************/
/*******************************************/
@media screen and (min-width: 768px)and (max-width: 1199px) {
body {
            background-color: white;
        }
        #dayPickerBtn {
        width:85%;
        font-family: Raleway;
        font-size: x-large;
        }
        .navbar {
        border-radius: 0;
        width:100%;
        height:50px;
        border-bottom: 5px solid #3399FF;
        background: rgba(232, 244, 255, 0.7);
        position: absolute;
        bottom:0;
        top:200px;
        }
        #navbarbackgrounded{
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        height: 250px;
        position:relative;

        }
        .calendar {
        margin-top: 10px;
        padding: 10px;
        height: 500px;
        background-color: #A8D6FF;

        border-radius: 10px;
         overflow-y: auto;
        overflow-x: hidden;


        -webkit-box-shadow: 0px 0px 7px 5px #C2C2C2;
        -moz-box-shadow: 0px 0px 7px 5px #C2C2C2;
        box-shadow: 0px 0px 7px 5px #C2C2C2;


        transform:scale(1);
        -ms-transform:scale(1);
        -moz-transform:scale(1);
        -webkit-transform:scale(1);
        -o-transform:scale(1);

        }

        #calendarBox{

        margin-top:10px;
        margin-bottom:10px;
        }



        .main-header {
        text-align: center;
        clear: both;
        padding: 0;
        }
            .navbar-collapse .navbar-nav > .active > a,
        .navbar-collapse .navbar-nav > .active > a:hover {
            color: black;
            background: #3399FF; /*why you no work? jo, det Ã¤r about background!*/


            font-family: Raleway;
        }
         .navbar-collapse .navbar-nav > li > a:hover {

            background:#3399FF;

        }
.ui-widget-content{
    margin-top:65px;
    margin-right:55px;
    background: red;
   	-webkit-box-shadow: 0px 0px 7px 5px #C2C2C2;
	   -moz-box-shadow: 0px 0px 7px 5px #C2C2C2;
	        box-shadow: 0px 0px 7px 5px #C2C2C2;
}
}
/*******************************************/
/*******************************************/
/************* XS INSTÃ„LLNINGAR************/
/*******************************************/
/*******************************************/
@media screen and (max-width: 767px) and (min-width: 0px) {
body {
}
#navbarbackgrounded{
    background-image: none!important;

}

#dayPickerBtn {
font-family: Raleway;
font-size: x-large;
width:55%;
}
#dayPickerBtnRight, #dayPickerBtnLeft{
width:20%;
font-size:  x-large;
color: darkgray;
}

#dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft{
height:100%;
margin-bottom: px;
background: white;
border: white;
}
.calendar {
margin: 0 auto;
padding: 0;
width:100%;
background-color: #A8D6FF;
height: auto;
border-radius: 10px;
}



.main-header {
text-align: center;
clear: both;

width: 100%;

}

/* *******NAVBAR MOBILE SETTINGS **********/

.navbar {
opacity: 0.9;
padding: 5px;
border-bottom: 0 solid white;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
margin-bottom:5px;
height:60px;
background: #3399FF; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left, #3399FF , black); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #3399FF, black); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #3399FF, black); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #E8F4FF, #A8D6FF , #3399FF); /* Standard syntax */
}


.navbar-default .navbar-brand{
color: black;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: black;

}
.navbar-toggle {
background-color: lightgray;

}
.collapsing, .in {
background-color: #A8D6FF;
overflow-x: hidden;
}

.collapsing ul li a, .in ul li a {color: black!important;}
.collapsing ul li a:hover, .in ul li a:hover {
color: #f1f1f1!important;
border-top-left-radius: 0;
border-top-right-radius: 0;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.container-fluid{
padding-left: 0;
padding-right: 0 ;
}
#calendarBox{

margin:5px;


}

}
/*******************************************/
/*******************************************/
/************* LG INSTÃ„LLNINGAR************/
/*******************************************/
/*******************************************/
@media screen and (min-width:1200px) {
            #dayPickerBtn {
                width:88%;
            font-family: Raleway;
                font-size: x-large;
            }
            .navbar-default{
                color:black;
               border-bottom: 5px solid #3399FF;
                background-color: #f8f8f8;
                margin-left: -15px;
                width: 1200px;

                height: 50px;
               border-radius: 0;
                font-family: Raleway;


            }


            #topContainer {
                width: 1200px;
            }
            #calendarBox{
                width:1200px;
                height:800px;

                margin-top:10px;
            }
            .calendar{
            margin-top: 10px;
            padding: 10px;
            height: 500px;
            background-color: #A8D6FF;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 10px;
            border-radius: 10px;

            -webkit-box-shadow: 0px 0px 7px 5px #C2C2C2;
            -moz-box-shadow: 0px 0px 7px 5px #C2C2C2;
            box-shadow: 0px 0px 7px 5px #C2C2C2;


            transform:scale(1);
            -ms-transform:scale(1);
            -moz-transform:scale(1);
            -webkit-transform:scale(1);
            -o-transform:scale(1);
            }
            .navbar-collapse .navbar-nav > .active > a,
            .navbar-collapse .navbar-nav > .active > a:hover {
                color: black;
                background: #3399FF; /*why you no work? jo, det Ã¤r about background!*/


                font-family: Raleway;
            }
             .navbar-collapse .navbar-nav > li > a:hover {

                background:#3399FF;

            }
    }


/*Create event css*/
.divforforms{
    width: 80%;

}
.nameofevent{
    width:50%;
}
.field-id_name{
    width: 100%;
}

.field-id_categories{

    width: 100%;
    float:left;

}
.field-id_host{
    width:48%;

}
#topContainer{
    padding-left:0;
    padding-right:0;
}
.field-id_location{
    width:48%;

}
.field-id_startdate{
    width:48%;

}
.field-id_enddate {
    width: 48%;
}
.field-id_description{

    width:48%;
}

#addingevent{
    float:left;
    width:15%;

}
    /* Mellan INSTÃ„LLNINGAR*/

/*#A8D6FF =R:168 G:214 B:255
#E8F4FF = R:232 G:244 B:255
rgb(51,153,255); #3399FF*/

/***********************************************************************
*  Banner SECTION
***********************************************************************/

#loggPic{
    position: relative;

    width: 200px;

    left: 25px;
    top: 0px;
    /*background: rgba(232,244,255,0.25);*/

}
#loggPic2{
    position: relative;
    z-index: 1;
    width: 15%;
    left: 15px;
    bottom:6px;
}
div{
    display: block;
}

#headerPic{
    width: 100%;
    height:100%;

}


.block{
    padding: 10px;
}
.hidden{
    display: none;
}

#nationDesc{
    background-color: black;
    height: 100px;
    width: 100%;
}


/***********************************************************************
*  NAVBAR SECTION
http://bootstrapdesigntools.com/tools/bootstrap-menu-builder/#/products
***********************************************************************/
.ui-widget-content{
    margin-top:65px;
    margin-right:65px;
    background: white;
   	-webkit-box-shadow: 0px 0px 7px 5px #C2C2C2;
	   -moz-box-shadow: 0px 0px 7px 5px #C2C2C2;
	        box-shadow: 0px 0px 7px 5px #C2C2C2;
}





    .navbar-collapse .navbar-nav > li > a {
        color: black;
    }

    .navbar-collapse .navbar-nav > .active > a,
    .navbar-collapse .navbar-nav > .active > a:hover {
        background-color: rgb(51,153,255) ; /*why you no work? jo, det Ã¤r about background!*/

        bottom:1px;

    }
/*hover här*/
    .navbar-collapse .navbar-nav > li > a:hover {
        color:black;

        background-color: rgb(51,153,255) ;
        bottom:1px;
    }







/***********************************************************************
*  Navbar slut
***********************************************************************/

/***********************************************************************
*  Flaggorna SECTION
***********************************************************************/
.flag{
    float: right;
    height: 26px;
    width: 38px;
    padding: 2px;
    cursor: pointer;
}
/***********************************************************************
*  Flaggorna slut
***********************************************************************/
/***********************************************************************
*  Calendar SECTION
***********************************************************************/
.calendar{
    margin-top: 30px;
}

.calendar th{
    border-bottom: none;


}
.calendar thead{
    border-bottom: solid 3px;

}
.calendar tr {
    border-bottom: solid 1px;

}


.responsive-table th{
    font-family: Raleway;
}.responsive-table tr{
    font-family: Georgia;
}


 .table-striped  > tbody > tr:nth-of-type(even) {
    background-color:   #A8D6FF;

}
 .table-striped  > tbody > tr:nth-of-type(odd) {
    background-color:  #A8D6FF;

}
 #monthAndDay {

    font-family: Raleway;
    font-style: oblique;
}



/***********************************************************************
*  Calendar Slut
***********************************************************************/

/*http://bootsnipp.com/snippets/featured/input-file-popover-preview-image*/

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}



#map{
    left:5px;
    border-radius: 20px;
}

#editNationDesc{
    float:right;
}



a.ui-state-highlight {
    border-color: black;
    background: #e6e6e6;
}

.sizeMonth{

}

.modal-header{
    font-family: Raleway;

}
.modal-body{
    font-family: Georgia;
}

/***********************************************************************
*  Boxarn i presentation
***********************************************************************/
.well{
    background: white; /*mÃ¥ste vara med fÃ¶r att kunna ge backgroundcolors i #nationDesc #dontMiss osv*/
}

#nationDesc{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}

#dontMiss{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}
#findUs{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}

#contact{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}
/***********************************************************************
*  Boxarna i presentation slut
***********************************************************************/

/***********************************************************************
*  dagknapparna  i presentation bÃ¶rjan
***********************************************************************/
@media screen and (min-width: 798px) {
    #btnlang_nb{
    margin-right: 0px;
    background-color: black;
    color:white;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}
    #btnlang_nb:hover{
        background-color:#A8D6FF;
    }
    #btnlang_en{
    margin-right: 60px;
    background-color: black;
    color:white;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
}
    #btnlang_en:hover{
        background-color:#A8D6FF;
    }
    #btnlang_sv{
    margin-right: 0px;
    background-color: black;
    color:white;
    border-color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
    #btnlang_sv:hover{
        background-color:#A8D6FF;
    }


#calendarCollapse{
    padding: 10px;
    right: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 5px;
    float: left;
}
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3399FF;
}

#dayPickerBtnRight, #dayPickerBtnLeft{
    font-size:  x-large;
    color: darkgray;
}


#dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft {
    margin-bottom: 5px;
    background: white;
    border: rgb(232, 244, 255);
}


    #dayPickerBtn, #dayPickerBtnRight,#dayPickerBtnLeft:focus{
outline:0;
    }
    #btnBox{
        margin-bottom: 10px;
    }
