
body{
    background-color: rgb(232,244,255);
}
/*#A8D6FF =R:168 G:214 B:255
#E8F4FF = R:232 G:244 B:255
rgb(51,153,255); #3399FF*/

/***********************************************************************
*  Banner SECTION
***********************************************************************/

#loggPic{
    position: absolute;
    z-index:1;
    width: 20%;
    left:2.5%;
    top:1%;
}
div{
    display: block;
}
#headerPic{

    width: 100%;
    height:200px;

}

.main-header{
    text-align: center;
    clear: both;
    padding: 0;
}
.block{
    padding: 10px;
}
.hidden{
    display: none;
}

/***********************************************************************
*  NAVBAR SECTION
http://bootstrapdesigntools.com/tools/bootstrap-menu-builder/#/products
***********************************************************************/
.container-fluid{
    height: auto;
}


.navbar-collapse .navbar-nav >li > a{
    color:black;
}

.navbar-collapse .navbar-nav > .active > a,
.navbar-collapse .navbar-nav > .active > a:hover{
    color:black;
    background: #3399FF; /*why you no work? jo, det är about background!*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.6);

    border: solid 1px  #A8D6FF;
}

.navbar-collapse .navbar-nav >li > a:hover{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #A8D6FF;



    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
}
.navbar{
    border-bottom: 5px solid  #3399FF ;
      -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
}


/***********************************************************************
*  Navbar slut
***********************************************************************/

/***********************************************************************
*  Flaggorna SECTION
***********************************************************************/
.flag{
    float: right;
    height: 26px;
    width: 38px;
    padding: 2px;
    cursor: pointer;
}
/***********************************************************************
*  Flaggorna slut
***********************************************************************/
/***********************************************************************
*  Calendar SECTION
***********************************************************************/
.calendar {
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-color:   #A8D6FF;

}
.calendar th{
    border-bottom: none;


}
.calendar thead{
    border-bottom: solid 3px;

}
.calendar tr {
    border-bottom: solid 1px;

}


.responsive-table th{
    font-family: Raleway;
}.responsive-table tr{
    font-family: Georgia;
}


 .table-striped  > tbody > tr:nth-of-type(even) {
    background-color:   #A8D6FF;

}
 .table-striped  > tbody > tr:nth-of-type(odd) {
    background-color:  #A8D6FF;

}
 #monthAndDay {

    font-family: Raleway;
    font-style: oblique;
}

#datepicker{
    position: absolute;

}
/***********************************************************************
*  Calendar Slut
***********************************************************************/

/*http://bootsnipp.com/snippets/featured/input-file-popover-preview-image*/

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}



#map{
    left:5px;
    border-radius: 20px;
}

#editNationDesc{
    float:right;
}



a.ui-state-highlight {
    border-color: black;
    background: #e6e6e6;
}

.sizeMonth{

}

.modal-header{
    font-family: Raleway;

}
.modal-body{
    font-family: Georgia;
}

/***********************************************************************
*  Boxarn i presentation
***********************************************************************/
.well{
    background: white; /*måste vara med för att kunna ge backgroundcolors i #nationDesc #dontMiss osv*/
}

#nationDesc{
    width:100%;
    border: 1px solid black;
        background-color: #A8D6FF	 ;
}

#dontMiss{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}
#findUs{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}

#contact{
    width:100%;
    border: 1px solid black;
    background-color: #A8D6FF	 ;
}
/***********************************************************************
*  Boxarna i presentation slut
***********************************************************************/

